@model FlowerLaundry.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h2 style="font-family:'Lucida Calligraphy'; font-size:x-large">Tambah Data Customer</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <b>@Html.DisplayName("Nama Customer")</b>
                <input asp-for="NamaCustomer" class="form-control" />
                <span asp-validation-for="NamaCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>@Html.DisplayName("No HP")</b>
                <input asp-for="NoHp" class="form-control" />
                <span asp-validation-for="NoHp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b>@Html.DisplayName("Alamat")</b>
                <input asp-for="Alamat" class="form-control" />
                <span asp-validation-for="Alamat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

