
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Menu Karyawan</title>
</head>
<body>
    <br />
    <br />
    <br />
    <div class="text-center">
        <h2 style="font-size:100px;font-family:'Lucida Calligraphy'">Menu Karyawan</h2>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6" style="text-align:center">
            <br />
            <a asp-area="" asp-controller="Customer" asp-action="Index"><button style="border: 3px #444444 solid;border-radius: 50px;background-color: lawngreen;color: blue;width: 200px;height: 100px;text-align: center;margin: auto;font-family:'Lucida Calligraphy';font-size:23px">DATA CUSTOMER</button></a>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-6" style="text-align:center">
            <br />
            <a asp-area="" asp-controller="Pesanan" asp-action="Index"><button style="border: 3px #444444 solid;border-radius: 50px;background-color: lawngreen;color: blue;width: 200px;height: 100px;text-align: center;margin: auto;font-family:'Lucida Calligraphy';font-size:23px">DATA PESANAN</button></a>
            <br />
            <br />
            <br />
        </div>
    </div>
</body>
</html>