
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<br />
<div class="text-center">
    <h2 style="font-size:100px;font-family:'Lucida Calligraphy'">Flower Laundry</h2>
</div>
<br />
<br />
<br />

<div class="row">
    <div class="col-md-6" style="text-align:center">
        <br />
        <a asp-area="" asp-controller="MenuBos" asp-action="Index"><button style="border: 3px #444444 solid;border-radius: 50px;background-color: lawngreen;color: blue;width: 200px;height: 100px;text-align: center;margin: auto;font-family:'Lucida Calligraphy';font-size:25px">BOS</button></a>
        <br />
        <br />
        <br />
    </div>
    <div class="col-md-6" style="text-align:center">
        <br />
        <a asp-area="" asp-controller="MenuKaryawan" asp-action="Index"><button style="border: 3px #444444 solid;border-radius: 50px;background-color: lawngreen;color: blue;width: 200px;height: 100px;text-align: center;margin: auto;font-family:'Lucida Calligraphy';font-size:23px">KARYAWAN</button></a>
        <br />
        <br />
        <br />
    </div>
</div>