@{
    ViewData["Title"] = "Home Page";
}

<div align="center" style="max-width:none;max-height:none">
    <img src="~/lib/content/logo.png" width="900" height="350"/>
</div>
<br />
<br />
<div class="container mt-4" align="center">
    <a asp-area="" asp-controller="MenuUtama" asp-action="Index"><button style="border: 3px #444444 solid;border-radius: 50px;background-color: lawngreen;color: blue;width: 150px;height: 75px;text-align: center;margin: auto;font-family:'Lucida Calligraphy';font-size:25px">START</button></a>
</div>
